 <!-- Navbar -->
 <nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar" >
  <div class="container">
    <!-- Brand -->
    <a class="navbar-brand waves-effect" href="#" target="_blank">
      <strong class="blue-text">E-Comm</strong>
    </a>
    <!-- Collapse -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Links -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Left -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link waves-effect"  routerLink="/home">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
       
        <li class="nav-item"  *ngIf="nav.isLoggedIn()">
          <a class="nav-link waves-effect" href="#"
            routerLink="/listproducts">Products</a>
        </li>
        <li class="nav-item"  *ngIf="nav.isLoggedIn()">
          <a class="nav-link waves-effect" routerLink="/products">Add Products</a>
        </li>
      </ul>

      <!-- Right -->
      <ul class="navbar-nav myIconBar nav-flex-icons">
        <li class="nav-item">
          <a class="nav-link waves-effect" routerLink="/cart" >
            <span class="badge red z-depth-1 mr-1"> {{nav.getCartCount()}} </span>
            <i class="fas fa-shopping-cart"></i>
            <span class="clearfix d-none d-sm-inline-block"> Cart </span>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link waves-effect" >
            <i class="fab fa-facebook-f"></i>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link waves-effect" >
            <i class="fab fa-twitter"></i>
          </a>
        </li>
        <!-- <li class="nav-item">
          <a  class="nav-link border border-light rounded waves-effect"
            >
            <i class="fab fa-github mr-2"></i>E-Comm GitHub 
          </a>
        </li> -->
       
        <li class="nav-item" *ngIf="!nav.isLoggedIn()">
          <a routerLink="/login" class="nav-link border border-light rounded waves-effect"
            >
            <i class="fab fa-sign-in-alt mr-2"></i>Sign In
          </a>
        </li>

        <li class="nav-item" *ngIf="nav.isLoggedIn()">
          <a (click)="logout();" class="nav-link border border-light rounded waves-effect"
            >
            <i class="fab fa-sign-in-alt mr-2"></i>Logout 
          </a>
        </li>

      

      </ul>

    </div>

  </div>
</nav>
<!-- Navbar -->



<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">E-Commerce</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav> -->

